/* Style de base */
body {
    font-family: Arial, sans-serif;
    background-color: #f9c160;
    color: #252331;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label, textarea {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #252331;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45404d;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
}


/* Style général du logo */
.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Style de l'image du logo */
.logo img {
    width: 100px; /* Ajustez la taille selon vos besoins */
    height: auto;
}


