/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #c3b8a6;
    color: #252331;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2b2437;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #252331;
}

textarea {
    width: 100%;
}

button[type="button"] {
    background-color: #2b2437;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s; /* Ajout de la transition pour une animation fluide */
}

button[type="button"]:hover {
    background-color: #2b2437;
}

button.selected {
    background-color: #f9c160 !important; /* Utilisation de !important pour assurer la priorité sur le style */
    color: #252331 !important;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Style de l'image du logo */
.logo img {
    width: 100px; /* Ajustez la taille selon vos besoins */
    height: auto;
}

.team-members-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9c160;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #252331;
}

.team-members-container ul {
    list-style-type: none;
    padding: 0;
}

.team-members-container ul li {
    margin-bottom: 10px;
}
